body {
  background-image: url("/images/home-made-paper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.normalFont {
  font-weight: normal !important;
}
.boldFont {
  font-weight: bold !important;
}
.pointerCursor {
  cursor: pointer;
}
.defaultCursor {
  cursor: default !important;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.divClear {
  clear: both;
}
.displayInlineFlex {
  display: inline-flex;
}
.displayInline {
  display: inline !important;
}
.displayNone {
  display: none;
}
.redText {
  color: red;
}
.solidBlackBorder {
  border-bottom: 1px solid #424242;
}
.bRadius {
  border-radius: 4px;
}
.autoWidth {
  width: auto;
}
.autoLeft {
  margin-left: auto;
}
.maroonClass {
  background-color: #0C1A29 !important;
  border-color: #0C1A29 !important;
}
.alignCenter {
  text-align: center;
}
.fontClass {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
.marginTop16px {
  margin-top: 16px;
}
.marginTop20px {
  margin-top: 20px;
}
.marginTop30px {
  margin-top: 30px;
}
.profilePicDiv {
  margin-top: -24px;
  display: table;
  margin-right: 10px;
}
.logoutClass {
  padding: 5px 0px !important;
  color: #cccccc;
}
.body {
  color: #dddddd;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
.bookmarkHeader {
  background-color: #0C1A29;
  border-color: #0C1A29;
}
.bookmarkHeader div h2 {
  color: #ff9200 !important;
}
.colorSienna {
  color: #a0522d !important;
}
.color-ccc {
  color: #cccccc;
}
.headerNav {
  background-color: #0C1A29 !important;
  border-color: #0C1A29 !important;
}
.footer {
  margin-top: 20px;
}
.footerSection {
  min-height: 50px;
  margin-top: 16px;
  border-radius: 4px;
  background-color: #0C1A29 !important;
  border-color: #0C1A29 !important;
}
.footerLbl {
  margin-top: 16px;
}
.searchDiv {
  margin-top: -16px;
}
.searchBoxDiv {
  display: inline !important;
  border-radius: 4px;
}
#searchBox {
  border: 1px solid #0C1A29;
  border-radius: 4px;
}
.errDiv {
  margin-left: auto !important;
  margin-botton: 15px !important;
  width: 1142px;
  margin-right: auto;
  border: 1px solid red;
  color: red !important;
  background-color: #fff !important;
  font-weight: bold;
}
.successDiv {
  margin-left: auto !important;
  width: 1142px;
  margin-right: auto;
  border: 1px solid green;
  color: green !important;
  background-color: #fff !important;
  font-weight: bold;
}
.loginHeader {
  margin: 0px 0 15px !important;
  padding-bottom: 0px !important;
}
.marginTopMinus15px {
  margin-top: -15px;
}
.marginLeftMinus15px {
  margin-left: -15px;
}
.modal-content {
  height: 200px;
}
.marginBottom8px {
  margin-bottom: 8px !important;
}
.errorBox {
  margin-left: 0px;
  width: 1100px !important;
}
.legendClass {
  border-style: none !important;
  margin-bottom: 0px !important;
}
.loginDiv {
  width: 330px;
}
.marginLeft40px {
  margin-left: 40%;
}
.smallInlineErr {
  margin-left: 82px;
}
.fontSize16 {
  font-size: 16px;
}
.userErrDiv {
  width: 300px !important;
}
.menu {
  width: 95% !important;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #0C1A29;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.menu li:hover {
  background-color: #350b07;
}
.searchFeedSec {
  width: 44%;
  margin-left: 30px;
  float: left;
}
hr.vertical {
  width: 0px;
  height: 100%;
}
.googlePlusBtn {
  width: 53%;
  margin-botton: 15px;
}
.saveFeedSec {
  width: 44%;
  margin-right: 30px;
  float: right;
}
.likeImg {
  height: 20px;
  margin-top: -11px;
  padding-right: 2px;
  width: 25px;
}
.saveFeedMenu {
  margin-left: 18px;
  width: 91% !important;
}
.messageDiv {
  width: 95%;
  word-wrap: break-word;
}
