@body-background : #DDD;
@maroon-background : #350B07;
@fontSize12 : 12px;
@fontSize14 : 14px;
@fontSize16 : 16px;
@fontStyle : Helvetica,Arial,sans-serif;
@color-sienna : sienna;
@colorProp : color;
@fontProp : font;
@color-ccc : #ccc;
@marginTop16px : 16px;
@marginTopProp : margin-top;
@marginLeftProp : margin-left;
@width : width;
@300px : 300px;
@2px : 2px;
@10px : 10px;
@20px : 20px;
@40px : 40px;
@40per  : 40%;

body{
	background-image: url("/images/home-made-paper.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.normalFont {
	font-weight : normal !important;
}
.boldFont {
	font-weight : bold !important;
}
.pointerCursor {
	cursor: pointer;	
}
.defaultCursor {
	cursor: default !important;	
}
.floatLeft {
	float : left;
}
.floatRight {
	float : right;
}
.divClear {
	clear : both;
}
.displayInlineFlex {
	display: inline-flex;
}
.displayInline {
	display: inline !important;
}
.displayNone {
	display : none;
}
.redText {
	@{colorProp} : red;
}
.solidBlackBorder {
	border-bottom : 1px solid #424242;
}
.bRadius {
	border-radius : 4px;
}
.autoWidth {
	@{width} : auto;
}
.autoLeft {
	@{marginLeftProp} : auto;
}
.maroonClass {
	background-@{colorProp} : #0C1A29 !important;
	border-@{colorProp} : #0C1A29 !important;
}
.alignCenter {
	text-align : center;
}
.fontClass {
	font-size : @fontSize12;
	font-family : @fontStyle;
}
.marginTop16px{
	@{marginTopProp}: @marginTop16px;
}
.marginTop20px{
	@{marginTopProp}: @20px;	
}
.marginTop30px{
	@{marginTopProp} : @20px + @10px;
}
.profilePicDiv{
	display : table;	
	margin-top: -24px;
    display: table;
    margin-right: 10px;
}
.logoutClass{
	padding: 5px 0px !important;
	.color-ccc
}
.body {
	@{colorProp} : @body-background;
	.fontClass
}
.bookmarkHeader {
	background-@{colorProp} : #0C1A29;
	border-@{colorProp} : #0C1A29;
}
.bookmarkHeader div h2 {
	@{colorProp} : #FF9200 !important
}
.colorSienna {
	@{colorProp} : @color-sienna !important;
}
.color-ccc {
	@{colorProp} : @color-ccc;
}
.headerNav {
	.maroonClass
}
.footer {
	.marginTop20px
}
.footerSection {
	 min-height: 50px;
	 @{marginTopProp}: @marginTop16px;
	 .bRadius;
	 .maroonClass
}
.footerLbl{
	.marginTop16px
}
.searchDiv {
	@{marginTopProp} : -@marginTop16px;
}
.searchBoxDiv {
	display : inline !important;
	.bRadius
}
#searchBox {
    border: 1px solid #0C1A29;
	.bRadius
}
.errDiv{
	@{marginLeftProp} : auto !important;
	margin-botton : 15px !important;
	width: 1142px;
    margin-right: auto;
    border: 1px solid red;
    color: red !important;
    background-color: #fff !important;
    font-weight: bold;
}
.successDiv{
	margin-left: auto !important;
    width: 1142px;
    margin-right: auto;
    border: 1px solid green;
    color: green !important;
    background-color: #fff !important;
    font-weight: bold;
}
.loginHeader, {
	margin : 0px 0 15px !important;
	padding-bottom : 0px !important;
}
.marginTopMinus15px {
	@{marginTopProp} : -@marginTop16px + 1;	
}
.marginLeftMinus15px {
	@{marginLeftProp} : -@marginTop16px + 1;	
}
.modal-content {
	height : @20px * 10;
}
.marginBottom8px {
	margin-bottom: @10px - 2 !important;
}
.errorBox {
	@{marginLeftProp}: 0px;
    @{width}: @300px * 3 + @40px * 5 !important;
}
.legendClass {
	border-style : none !important;
	margin-bottom : 0px !important;
}
.loginDiv {
    @{width}: @300px + @20px + @10px;
}
.marginLeft40px {
	@{marginLeftProp} : @40per;
}
.smallInlineErr {
	@{marginLeftProp} : 82px;
}
.fontSize16 {
	font-size : @fontSize16;
}
.userErrDiv {
	@{width}: @300px !important;
}
.menu{
	width: 95% !important;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-@{colorProp} :#0C1A29;
    @{colorProp}: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-@{colorProp}: #350b07;
}
.searchFeedSec {
	width: 44%;
	@{marginLeftProp} : 30px;
    .floatLeft
}
hr.vertical
{
   width: 0px;
   height: 100%;
} 
.googlePlusBtn {
	@{width} : 53%;
	margin-botton : @marginTop16px - 1;
}
.saveFeedSec {
 	width: 44%;
 	margin-right: 30px;
    .floatRight
}
.likeImg {
	height: @20px;
    margin-top: -11px;
    padding-right: @2px;
    width: @20px + 5px;
}
.saveFeedMenu {
	margin-left: 18px;
    width: 91% !important;
}
.messageDiv {
	width : 95%;
	word-wrap: break-word;
}