
<div class="jumbotron bookmarkHeader">
	<div class="floatRight profilePicDiv" ng-show="showLogout">
		<div class="row">
			<img class="" style="width: 62px;" src="{{userDetails.picUrl}}"/>	
		</div>
		<div class="row">
			<a role='button' class="navbar-brand logoutClass active" ng-click="logout()">Log Out</a>
		</div>
	</div>
	<div class="">
		<h2 class="colorSienna">Social Bookmark Application</h2>
		<p class="color-ccc">Now search feeds/posts from your Facebook/Google+ page and save them in your pocket.</p>
	</div>
</div>